<h1>Comprovante de pagamento recebido</h1>

<p>Você recebeu com comprovante de pagamento de <%= @user.name %>.</p>
Veja esse comprovante e outros em <%= link_to @expense.title, expense_url(@expense) %>
